@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.Comment-p-2 {
  padding: 0.625rem !important;
}

.comment-text-light {
  color: #2e1d49 !important;
  font-family: "Gloria Hallelujah", cursive;
}

/* BACKGROUND UTILS */
.commentBg-primary {
  background-color: white !important;
}

.textDisplay {
  text-align: left;
}

.commentWidth {
  width: 90%;
  border: 1px solid #2e1d49;
  border-radius: 0.3rem;
  margin: auto;
}

.outer {
  margin-bottom: 5px;
  margin-top: 5px;
}

.commentInfo {
  font-size: 0.8rem !important;
  color: #2e1d49 !important;
  font-family: "Gloria Hallelujah", cursive;
}

.commentText {
  color: #2e1d49 !important;
  font-family: "Gloria Hallelujah", cursive;
  margin-left: 5px;
}

.newComment {
  color: #2e1d49;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
  background-color: #ff3f3f !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  text-align: center;
}

.ComCard {
  border: 1px solid #1a1a1a;
  margin-bottom: 1rem;
}

.ComCard .ComCard-header {
  padding: 0.375rem;
  color: #2e1d49;
}
