/* centers the divs and sets them with a 50% width for screens larger than 992px */
.ForumRow {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 70px;
}

/* Apply width changes for screens 992px or smaller */
@media screen and (max-width: 992px) {
  .ForumRow {
    width: 80%;
  }
}

/* Apply width changes for screens 600px or smaller */
@media only screen and (max-width: 600px) {
  .ForumRow {
    width: 100%;
  }
}

/* "PAGE_TRANSITION" with CSS--------------------------------------- */
.forum-background {
    animation: backgroundslideIn 2s ease-in-out forwards;
    }

    @keyframes backgroundslideIn {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(0%);
      }
  }

  .purple-out {
      background-color: purple;
  }
  /* "PAGE_TRANSITION" with CSS--------------------------------------- */
