.container {
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
}

.flex-row {
  max-width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 2rem;
  justify-content: center;
}
