.container-order {
  padding-top: 200px;
  padding-bottom: 200px;
}

.h1-order {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
}

.flex-row-order {
  max-width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 2rem;
  justify-content: center;
}
