@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.single-m-0 {
  margin: 0 !important;
}

.single-my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.single-p-2 {
  padding: 0.625rem !important;
}

.Single-p-4 {
  padding: 1.375rem !important;
}

.PostText-light {
  color: #2e1d49 !important;
  font-family: "Gloria Hallelujah", cursive;
}

/* BACKGROUND UTILS */
.PostBg-primary {
  background-color: #ff3f3f !important;
}

.Postbg-light {
  background-color: white !important;
  padding-bottom: 1px;
}

.Postbg-gray {
  background-color: rgb(216, 204, 204) !important;
}

.commentCenter {
  text-align: center;
}

.commentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  position: relative;
}

.ListBtn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ListBtn:hover {
  background-color: #ff3f3f94;
}

.ListBtn.ListBtn-squared {
  border-radius: 0;
}

.ListBtn.ListBtn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.ListBtn.ListBtn-primary {
  background-color: #ff3f3f;
  color: #d9e9e8;
}

.ListBtn.ListBtn-primary:hover {
  background-color: #ff3f3f94;
}

.wrap {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.blockQuote {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5rem;
  line-height: 1.5;
}

.SingleCard {
  /* border: 1px solid #1a1a1a; */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.SingleCard .SingleCard-header {
  padding: 0.375rem;
  background-color: #2d3e50;
  color: #d9e9e8;
}

.SingleCard .SingleCard-body {
  padding: 0.375rem;
}

.SingleCard.SingleCard-rounded {
  border-radius: 0.3rem;
}

.SingleCard.SingleCard-rounded .SingleCard-header {
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* Apply width changes for screens 992px or smaller */
@media screen and (max-width: 2000px) and (min-width: 1201px) {
  .wrap {
    padding-top: 110px;
    padding-bottom: 60px;
  }
}

/* Apply width changes for screens 992px or smaller */
@media screen and (max-width: 1200px) {
  .wrap {
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}

/* Apply width changes for screens 600px or smaller */
@media only screen and (max-width: 600px) {
  .wrap {
    width: 100%;
  }
}
