@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.new-m-0 {
  margin: 0 !important;
}

.new-ml-2 {
  margin-left: 0.625rem !important;
}

.new-py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.new-w-100 {
  width: 100%;
}

.text-light {
  color: #2e1d49 !important;
  font-family: "Gloria Hallelujah", cursive;
}

/* BACKGROUND UTILS */
.ListBg-primary {
  background-color: #ff3f3f !important;
}

.addComment {
  color: #2e1d49;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
  text-align: center;
}

.countComment {
  color: #2e1d49;
  font-family: "Gloria Hallelujah", cursive;
}

.addText {
  color: #2e1d49;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 0.9rem;
  text-align: center;
}

.com-logoutText {
  color: #0090e5;
  font-family: "Gloria Hallelujah", cursive;
}

.textArea {
  font-family: "Gloria Hallelujah", cursive;
}

.buttonCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-70%);
  transform: translateX(-70%);
}

.ComListBtn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ComListBtn:hover {
  background-color: #ff3f3f94;
}

.ComListBtn.ComListBtn-block {
  width: 150%;
  display: block;
  text-align: center;
}

.ComListBtn.ComListBtn-primary {
  background-color: #ff3f3f;
  color: #2e1d49;
  font-family: "Gloria Hallelujah", cursive;
}

.ComListBtn.ComListBtn-primary:hover {
  background-color: #ff3f3f94;
}

.CommentForm-form {
  width: 100%;
}

.CommentForm-form .new-form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

[class*="new-col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.new-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.new-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-justify-center {
  justify-content: center;
}

.new-align-center {
  align-items: center;
}

/* Apply width changes for screens 992px or smaller */
@media screen and (max-width: 992px) {
  .ComListBtn.ComListBtn-block {
    width: 50%;
  }

  .buttonCenter {
    -ms-transform: translateX(-28%);
    transform: translateX(-28%);
  }
}

/* Apply width changes for screens 600px or smaller */
@media only screen and (max-width: 600px) {
  .ComListBtn.ComListBtn-block {
    width: 40%;
  }

  .buttonCenter {
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@media screen and (min-width: 768px) {
  .new-justify-space-between-md {
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .new-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
