#AubreeOrangeFooter{
  background-color: #ff6934;
  margin-bottom: 0px !important;
  padding-bottom: 100px;
}

#GitHubText{
  font-family: 'Kirang Haerang', cursive;
}

#AubreePurpleSidebar{
  background-color: purple;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0px;
}

#AubreePinkHeader{
  /* background-color: #C34271; */
  background-color: #F070A1;
  font-family: 'Kirang Haerang', cursive;
  font-size: 36px;
  padding: 0px;
}

/* SLIDER ON GREEN BACKGROUND-------------------------------- */
.AboutUsDisplay {
  padding-top: 50px;
}

.AboutUsDisplay:hover {
  cursor: grab;
}

.card-text-Aubree {
  color: purple;
  font-family: 'Gloria Hallelujah', cursive;
} 

.card-title-Aubree {
  color: #C34271;;
  font-family: 'Kirang Haerang', cursive;
} 

.AubreeLink {
  color: #ff6934;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.Aubreecontent h1, .Aubreecontent p {
    margin: 0 0 1em 0;
    margin-top: 0px;
  }

.Aubreewrapper {
  margin: 0px;
  display: grid;
  grid-gap: 0px;
  width: 100%;
  color: purple;
  padding-top: 100px;
} 

@media screen and (min-width: 500px) {
   /* no grid support? */
  .Aubreeesidebar {
    float: left;
    width: 19.1489%;
  }
  .Aubreecontent {
    float: right;
    width: 79.7872%;
  } 
  .Aubreewrapper {
    margin: 0;
    grid-template-columns: 1fr 3fr;
    padding-top: 60px;
    padding-bottom: 0px;
  } 
  .Aubreeheader, .Aubreefooter {
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
    background-color: pink;
    /* needed for the floated layout */
    /* clear: both; */
  } 
}
  
.Aubreewrapper > * {
  background-color: #16ffbd;
  color: #fff;
  border-radius: 0px;
  padding: 20px;
  font-size: 150%; 
  /* needed for the floated layout*/
  /* margin-bottom: 0px;
  margin-top: 0px; */
  width: 100%;
} 
  
/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .Aubreewrapper > * {
    margin: 0;
    width: 100%;
  }
} 
