@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap'); */

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    padding: 2rem;
    background-color: #333;
    margin-top: 0px !important;
    /* position: absolute;
    bottom: 0px;
    height: 252px; */
}

.footer-container {
    max-width: 100%;
    margin-left: 13%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.footer h4 {
    color: white;
    padding-bottom: 8px;
    font-family: 'Kranky', cursive;
}

.footer p {
    color: rgb(189, 189, 189);
}

/* SOCIAL COLUMN------------------------- */
.social {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    font-weight: 600;
    font-size: 30px;
}

.socialIcon{
    padding-top: 8px;
    padding-right: 5px;
}

 /* NAVIGATION COLUMN----------------- */
.nav-container {
    max-width: 100%;
    margin: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navigation-left p a, .navigation-right p a {
    color: rgb(189, 189, 189);
}

.navigation-left a:hover, .navigation-right a:hover {
    color: #F070A1;
    text-decoration: none;
}

/* CONTACT US COLUMN-------------------- */
.contactInfo {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    font-weight: 600;
    font-size: 30px;
}

.location, .phone, .email {
    display: flex;
    margin-bottom: 0;
}

.location p, .phone p, .email p {
    line-height: 24px;
    padding-bottom: 8px;
}

.highlight {
    color: white;
}

/* BOUNCE-IN---------------------------- */
.hvr-bounce-in {
    margin: 0px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* MEDIA SCREENS--------------------------- */
@media screen and (max-width: 2400) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}

@media screen and (max-width: 1200px) {
    .footer-container {
        max-width: 90%;
        grid-template-columns: repeat(2, 1fr);
    } 
    .nav-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .footer-container {
        max-width: 90%;
        grid-template-columns: 1fr;
    } 
    .nav-container {
        max-width: 90%;
    }
}
