@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.newPost {
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
  background-color: #2e1d4985;
}

.countText {
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #2e1d4985;
}

.logoutText {
  color: #0090e5;
  font-family: "Gloria Hallelujah", cursive;
}

.Textpost {
  font-family: "Gloria Hallelujah", cursive;
}

/* HEIGHT / WIDTH UTILS */
.Form-w-100 {
  width: 100%;
}

.Form-m-0 {
  margin: 0 !important;
}

.Form-my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.Form-p-3 {
  padding: 1rem !important;
}

.Form-py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.Forumbtn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  font-family: "Gloria Hallelujah", cursive;
  color: #1a1a1a;
  background-color: #ff3f3f;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.Forumbtn:hover {
  background-color: #ff3f3f94;
}

.Forumbtn.Forumbtn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.Forumbtn.Forumbtn-primary {
  background-color: #ff3f3f;
  color: #2e1d49;
}

.Forumbtn.Forumbtn-primary:hover {
  background-color: #ff3f3fb2;
}

.PostForm-form .FormInput {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.Form-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* col-lg */
@media screen and (min-width: 992px) {
  .Form-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
